.enrollpage{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(0px, 550px);
    background-color: white;


}
.enrollpage .leftside{
    width: 50%;
    height: auto;
    background-color: blueviolet;
}
.enrollpage .leftside .back_icon{
    border: none;
    background: none;
    font-size: 35px;
    margin-top: -650px;
    margin-left: -1100px;
}
.enrollpage .rightside{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;

}
.enrollpage .rightside h1{
    font-size: 50px;
}
.enrollpage .rightside .input-blog{
    width: 570px;
    height: 710px;
    border: 3px solid grey;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.enrollpage .rightside .input-blog input{
    width: 450px;
    height: 60px;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 25px;
    font-size: large;
    padding-left: 15px;
}
.enrollpage .rightside .input-blog label{
    font-size: 30px;
    position: absolute;
    transform: translate(0px , -260px)
}
.enrollpage .rightside .input-blog a{
    color: blue;
    position: absolute;
    transform: translate(-170px, 50px);
    cursor: pointer;
}
.enrollpage .rightside .input-blog .submit{
    padding: 25px;
    width: 450px;
    display: flex;
    justify-content: space-between;
   
}
.enrollpage .rightside .input-blog .submit div{
    width: 160px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 23px;
    font-weight: lighter;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;

}
.enrollpage .rightside .input-blog .submit:hover{
    transform: scale(1.02);
}
.enrollpage .rightside .input-blog .platform{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:20px
    
}
.enrollpage .rightside .input-blog .platform img{
    width: 60px;
    height: 60px;
    margin-top: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.gray{
    background:gray;
}